<footer class="footer has-background-black">
  <div class="content has-text-centered">
    <p class="has-text-white">
      Criador por <strong class="has-text-white">Marcelo Sarinho</strong>. Neste projeto foi utilizado <a class="has-text-primary"
        href="https://bulma.io/">Bulma</a> para criar as interfaces.
    </p>
    <a class="has-text-primary" href="">Github</a> |
    <a class="has-text-primary" href="">Linkedin</a>
  </div>
</footer>